<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/style.css}">
    <meta charset="UTF-8">
    <title>Login — MoonName</title>
</head>
<body>
<h1>Login</h1>

<p th:if="${param.error}">Invalid username or password</p>
<p th:if="${param.logout}">You have been logged out</p>

<form th:action="@{/login}" method="post">
    <input type="text" name="username"
           placeholder="Username" autocomplete="username" required>

    <input type="password" name="password"
           placeholder="Password" autocomplete="current-password" required>

    <button type="submit">Login</button>
</form>

<a th:href="@{/inscription}">Create an account</a>
</body>
</html>